#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 600px) {
  .logo {
    height: 20vw; 
    padding: 1em; 
  }
}

/* Ajustes para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .logo {
    height: 15vw; 
    padding: 1.2em; 
  }
}

/* Ajustes para pantallas grandes */
@media (min-width: 1025px) {
  .logo {
    height: 12vw; 
    padding: 1.5em; 
  }
}


.logo {
  will-change: filter;
  transition: filter 300ms;
}

p {
  line-height: 1.5; 
  margin-bottom: 20px; 
}

.colorVerde{
  background: #92d50b;
  fill: black;
}